.nav {
  position: fixed;
  left: 0;
  bottom: 40px;
  max-height: 100vh;
}
nav {
  color: white;
}
nav ul {
  list-style: none;
}
nav ul li {
  margin: 10px;
  text-transform: uppercase;
  transition: transform 0.5s ease;
  transition-delay: 0.2s;
  transform: translate(-150px);
}
nav ul li i {
  font-size: 22px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 20px;
  transform: translate(-200px);
}

nav ul li + li + li {
  margin-left: 40px;
  transform: translate(-250px);
}

.nav.show-nav ul li {
  transform: translate(0);
}
