.content {
  max-width: 1000px;
  padding: 55px;
}

.content h1 {
  margin-bottom: 0;
}

.content small {
  font-style: italic;
}

.content p {
  line-height: 1.5;

  font-size: 16px;
}

.content img {
  max-width: 100%;
}
